{% include base_path %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item publication-item" itemscope itemtype="http://schema.org/ScholarlyArticle">

    <h2 class="archive__item-title publication-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h2>

    {% if post.authors %}
      {% assign authors = post.authors | replace: 'I. Gracia', '<strong>I. Gracia</strong>' %}
      <p class="publication-authors" itemprop="author">{{ authors }}</p>
    {% endif %}

    {% if post.venue %}
      <p class="publication-venue">
        <em>{{ post.venue }}</em>
        {% if post.award %}
          <span class="publication-award">{{ post.award }}</span>
        {% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt publication-excerpt">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

    <div class="publication-links">
      {% if post.paperurl %}
        <a class="publication-button" href="{{ post.paperurl }}">Paper</a>
      {% endif %}

      {% if post.codeurl %}
        <a class="publication-button" href="{{ post.codeurl }}">Code</a>
      {% endif %}

      {% if post.slidesurl %}
        <a class="publication-button" href="{{ post.slidesurl }}">Slides</a>
      {% endif %}

      {% if post.bibtexurl %}
        <a class="publication-button" href="{{ post.bibtexurl }}">BibTeX</a>
      {% endif %}
    </div>

  </article>
</div>